@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap");
:root {
  --header-height: 3rem;
  --body-font: "Roboto", sans-serif;
  --title-font: "Roboto", sans-serif;
  --big-font-size: 1.9rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: .9rem;
  --smaller-font-size: .75rem;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1) ;
}

@media (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 4rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: #000;
  font-weight: var(--font-light);
}

h1 {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  color: #212529;
  text-align: center;
}

h2,
h3,
h4 {
  color: #000;
  font-weight: var(--font-normal);
  font-family: var(--title-font);
}

h2 {
  color: #000;
  font-weight: var(--font-normal);
  font-family: var(--font-normal);
  text-align: center;
  font-size: var(--mb-2);
  margin: 3rem 0;
}

.title_h2 {
  font-weight: var(--font-normal);
  font-family: var(--font-normal);
  text-align: center;
  font-size: var(--h2-font-size);
  margin: 3rem 0;
  color: #212529;
}

h3 {
  color: #000;
  font-family: var(--title-font);
}

p {
  line-height: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img.img_xs {
  max-width: 70%;
}

button {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.desktop {
  display: none;
  border: 1px solid green;
}

.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-3);
}

.section__subtitle {
  display: none;
  font-size: var(--small-font-size);
  margin-top: var(--mb-0-25);
  margin-bottom: var(--mb-3);
  color: #adadad;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 2rem;
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  transition: 0.3s;
}

.button:hover {
  background-color: #404040;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--white-color);
}

.nav__logo {
  font-weight: var(--font-medium);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

@media (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #efefef;
    padding: 3rem;
    transition: 0.4s;
  }

  .show-menu {
    right: 0;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: #adadad;
  font-size: 14px;
  font-weight: var(--font-normal);
}

.nav__link:hover {
  color: #000;
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #000;
}

.active-link {
  color: #000;
}

.home__info {
  display: block;
}

#home {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 94vh;
  height: 85vh;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.home__text {
  margin-bottom: 1rem;
}

.home__info-text.grid {
  gap: 1rem;
}

.home__info-img {
  background-color: transparent;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
}

.home__info-text {
  background-color: transparent;
  padding: 1rem 1.5rem 3rem;
}

.home__description {
  font-size: var(--normal-font-siz);
  margin-bottom: 0rem;
}

.apropos__img-container {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  align-items: end;
  justify-content: end;
}

.apropos__img--profil {
  display: block;
  padding: 3rem 0 0;
}

.apropos__description {
  text-align: left;
  margin-bottom: var(--mb-1);
}

.apropos__description:last-of-type {
  margin-bottom: var(--mb-1-5);
}

.apropos__infos,
.apropos__palmares {
  margin-top: 2rem;
}

.apropos__palmares {
  padding-top: 2rem;
}

.apropos__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.apropos__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.apropos__info-name {
  font-size: var(--smaller-font-size);
}

.apropos__info-title,
.apropos__info-name {
  display: block;
  text-align: center;
}

.apropos__buttons {
  display: flex;
  justify-content: center;
}

.apropos__data {
  margin-bottom: var(--mb-3);
}

.apropos__stats,
.apropos__valeurs,
.apropos__interets {
  text-align: center;
}

.apropos__valeurs {
  margin: 2rem 0 2rem;
}

.apropos__palmares-title {
  text-align: center;
}

.apropos__palmares-infos {
  margin: 0.6rem 0 0.6rem;
  line-height: 20px;
  text-align: justify;
}

.apropos__valeurs-infos,
.apropos__interets-infos,
.apropos__stats-infos {
  margin: 0.6rem 0 0rem;
  line-height: 22px;
  font-size: var(--small-font-size);
}

.competences__container {
  row-gap: 0;
}

.competences__content.competences__close {
  margin-bottom: 1rem;
}

.competences__content.competences__open {
  margin-bottom: 0rem;
}

.competences__header {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 1rem;
  cursor: pointer;
}

.competences__arrow {
  font-size: 1.5rem;
  color: #222;
}

.competences__header--leftMobile {
  display: none;
}

.competences__header--leftDesktop {
  display: flex;
}

.competences__title {
  font-size: 1.18rem;
}

.competences__subtitle {
  font-size: var(--small-font-size);
}

.competences__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.competences__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.competences__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-normal);
  color: #8e8e8e;
}

.competences__bar,
.competences__percentage {
  height: 3px;
}

.competences__number {
  display: none;
}

.competences__bar {
  background-color: #d4d4d4;
}

.competences__percentage {
  display: block;
  background-color: #adadad;
}

.competences__agile {
  width: 70%;
}

.competences__cdc {
  width: 70%;
}

.competences__trello {
  width: 70%;
}

.competences__anglais {
  width: 60%;
}

.competences__acceptation {
  width: 70%;
}

.competences__fonctionnel {
  width: 60%;
}

.competences__unitaire {
  width: 50%;
}

.competences__git {
  width: 70%;
}

.competences__html {
  width: 80%;
}

.competences__scss {
  width: 80%;
}

.competences__js {
  width: 60%;
}

.competences__ux {
  width: 70%;
}

.competences__wp {
  width: 60%;
}

.competences__phpSymfony {
  width: 40%;
}

.competences__sql {
  width: 40%;
}

.competences__nodejs {
  width: 40%;
}

.competences__close .competences__list {
  height: 0;
  overflow: hidden;
}

.competences__open .competences__list {
  height: max-content;
  margin-bottom: var(--mb-2);
  background-color: #f7f7f7;
  padding: 1.5rem;
}

.competences__open .competences__arrow {
  transform: rotate(-180deg);
}

.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  cursor: pointer;
  color: #adadad;
}

.qualification__button:hover {
  color: #000;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-normal);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
  color: #adadad;
}

.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: #d4d4d4;
}

.qualification__square {
  display: inline-block;
  width: 9px;
  height: 2px;
  background-color: #000;
  background-repeat: 90%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #000;
  transform: translate(4px, -6px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: #000;
}

.services__title {
  margin-bottom: var(--mb-0-25);
}

.services__list {
  gap: 1rem;
  margin-bottom: 1rem;
}

.portfolio__card,
.portfolio__bkg {
  height: 500px;
}

.portfolio__bkg {
  background-color: #f7f7f7;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__bkg-mobile {
  padding: 4rem 4rem 9rem;
}

.portfolio__card {
  width: 100%;
  position: relative;
  overflow: var(--img-hidden);
  padding-top: 40px;
  background-color: #f7f7f7;
}

.portfolio__content,
.portfolio__title {
  color: #000;
}

.portfolio__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.75rem 1.5rem 1.5rem;
}

.portfolio__content-mobile {
  padding: 0.75rem 1.5rem 1.5rem;
}

.portfolio__data {
  cursor: pointer;
}

a.portfolio__data {
  color: #000;
  text-align: center;
}

.portfolio__subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-1-5);
  line-height: 18px;
}

.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio__button-modal {
  position: absolute;
  right: -3px;
  top: 0px;
}

.portfolio__modal-icon {
  font-size: 1.5rem;
  margin-right: var(--mb-0-25);
}

.portfolio__button-redirection {
  position: absolute;
  right: 0;
  bottom: 0;
}

.portfolio__button {
  padding: 0.9rem 1rem;
  background-color: transparent;
  color: #000;
  font-size: 1.5rem;
}

.portfolio__button:hover {
  background-color: #d4d4d4;
}

.portfolio__button-autres {
  display: flex;
  justify-content: center;
  margin-top: var(--mb-2);
}

.portfolio__bkg {
  transition: var(--img-transition);
  padding: 2rem 2rem 12rem;
}

.portfolio__card:hover .portfolio__bkg {
  transform: var(--img-scale);
}

.portfolio__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.portfolio__modal-content {
  width: 95%;
  height: 70%;
  position: relative;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0rem;
}

.portfolio__modal-portfolio {
  row-gap: 1rem;
}

.portfolio__modal-service {
  display: flex;
}

.portfolio__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.portfolio__modal-close {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}

.portfolio__modal-contenair.centre {
  text-align: center;
}

.portfolio__modal-iconPano {
  color: #adadad;
  margin-right: var(--mb-0-25);
}

.button.portfolio__modal-button {
  padding: 0.7rem 1rem;
}

.portfolio__img-container {
  max-width: 67%;
  border: 1px solid #d4d4d4;
  display: block;
  margin: auto;
}

.portfolio__img-container.etroit {
  width: 33%;
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

section.contact {
  padding-bottom: 5rem;
  margin-bottom: 10rem;
  padding-top: 20rem;
}

.contact__container {
  row-gap: 0rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
  justify-content: center;
}

.contact__icon {
  font-size: 1rem;
  color: #adadad;
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

a.contact__title h3:hover {
  color: #adadad;
  cursor: pointer;
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: #000;
}

.contact__content {
  border-radius: 0rem;
  padding: 0.75rem 1rem 0.25rem;
  border: 1px solid #adadad;
}

.contact__label {
  font-size: var(--small-font-size);
  color: #000;
}

.contact__input {
  width: 100%;
  color: #000;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.footer {
  background-color: #fff;
}

.footer.section {
  padding: 1.5rem 0;
  margin-bottom: 0;
  border-top: 1px solid #efefef;
}

.footer__container {
  row-gap: 5rem;
  background-color: #fff;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__title,
.footer__subtitle {
  font-size: var(--h3-font-size);
  color: #fff;
}

.footer__title {
  margin-bottom: var(--mb-0-5);
}

.footer__description {
  margin-bottom: var(--mb-2);
  color: #fff;
}

.footer__social {
  font-size: 1.25rem;
  color: #fff;
  margin-right: var(--mb-1);
}

.footer__subtitle {
  margin-bottom: var(--mb-1);
}

.footer__item {
  margin-bottom: var(--mb-0-75);
}

.footer__link {
  color: #000;
}

.footer__link:hover {
  color: #000;
}

.footer__rights {
  display: felx;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer__copy,
.footer__terms-link {
  font-size: 12px !important;
  color: #000;
  font-weight: var(--font-normal);
}

.scrollup {
  position: fixed;
  right: 0.7rem;
  bottom: -20%;
  background-color: #000;
  padding: 0.5rem;
  display: flex;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup__icon {
  color: #fff;
  font-size: 1rem;
}

.scrollup:hover {
  background-color: #404040;
  opacity: 1;
}

.show-scroll {
  bottom: 5rem;
}

@media (min-width: 375px) {
  .container {
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }

  .home__text {
    margin-bottom: 1rem;
  }

  .home__info-text {
    padding: 0rem 1.5rem 2rem;
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .portfolio__modal-content {
    height: 90%;
  }

  .portfolio__modal-pano h3 {
    font-size: var(--small-font-size);
  }

  .portfolio__img-container {
    max-width: 60%;
  }

  .portfolio__bkg-mobile {
    padding: 4rem 6rem 13rem;
  }

  .footer__copy, .footer__terms-link {
    font-size: 14px !important;
  }

  img.img_xs {
    max-width: 100%;
  }
}
@media (min-width: 414px) {
  .apropos__data {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .apropos__valeurs,
.apropos__palmares {
    text-align: left;
  }

  .apropos__palmares {
    padding-top: 0;
  }

  .apropos__infos {
    display: flex;
    justify-content: space-between;
  }

  .apropos__interets {
    text-align: left;
  }

  .apropos__stats {
    text-align: left;
  }

  .apropos__valeurs {
    margin: 0rem 0 2rem;
  }

  .portfolio__bkg {
    padding: 2rem 2rem 12rem;
  }

  .portfolio__bkg-mobile {
    padding: 4rem 7rem 13rem;
  }
}
@media (min-width: 568px) {
  .apropos__data {
    margin-top: initial;
  }

  .apropos__container,
.services__container,
.contact__container,
.competences__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .portfolio__modal-pano h3 {
    font-size: var(--h3-font-size);
  }

  .portfolio__modal-content {
    width: 450px;
    height: 700px;
  }

  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  h3 {
    font-size: 15px;
  }

  .button {
    font-size: 11px;
  }

  .apropos2__container {
    max-width: 400px;
    margin: 2rem auto 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .apropos3__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }

  .apropos3__texte {
    text-align: right;
  }

  .apropos__palmares-title {
    text-align: left;
  }

  .apropos__palmares {
    padding-top: 0;
  }

  .apropos__stats-infos, .apropos__valeurs-infos,
.apropos__interets-infos, .apropos__palmares-infos {
    margin: 0.6rem 0 0rem;
    line-height: 22px;
    font-size: 11px;
  }

  .apropos__palmares-infos {
    line-height: 23px;
  }

  .portfolio__bkg-mobile {
    padding: 4rem 4rem 9rem;
  }
}
@media (min-width: 695px) {
  body {
    margin: 0;
  }

  .section {
    padding: 5rem 0rem 0rem;
    margin-bottom: 0rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding: 0 3rem;
  }

  .home__text {
    margin-bottom: 5rem;
  }

  .home__info-text {
    padding: 3.5rem 1.5rem 3.5rem 0rem;
  }

  .home__container {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .home__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .home__info-img {
    order: 1;
  }

  .apropos__container {
    column-gap: 3rem;
  }

  .apropos__description {
    text-align: justify;
  }

  .apropos__info {
    justify-content: space-between;
  }

  .apropos__buttons {
    justify-content: initial;
  }

  .qualification__tabs {
    justify-self: center;
  }

  .qualification__button {
    margin: 0 var(--mb-1);
  }

  .qualification__sections {
    grid-template-columns: 0.6fr;
  }

  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .portfolio__container.grid {
    gap: 2rem;
  }

  .portfolio__img-container {
    width: 60%;
  }

  p.footer__copy {
    font-size: 13px !important;
    color: #fff;
  }
}
@media (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: center;
  }

  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .nav__toggle,
.nav__close {
    display: none;
  }

  .apropos__container {
    column-gap: 1.5rem;
  }

  .apropos__img-container.img__profil {
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .apropos__data {
    min-height: 192px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
  }

  .apropos__description {
    text-align: left;
    margin-bottom: var(--mb-0-5);
  }

  .apropos__valeurs-infos,
.apropos__palmares-infos,
.apropos__interets-infos,
.apropos__stats-infos {
    margin: 0.5rem 0 0.5rem;
    font-size: var(--small-font-size) !important;
  }

  .apropos__stats {
    text-align: inherit;
  }

  .apropos__valeurs {
    margin: 0;
  }

  .apropos__palmares {
    padding-top: 0rem;
  }

  .apropos__palmares-title {
    font-size: 15px;
  }

  .competences__header--leftMobile {
    display: flex;
  }

  .competences__arrow.leftMobile {
    margin-left: 0px;
  }

  .leftMobile {
    margin-left: auto;
  }

  .competences__header--leftDesktop {
    display: none;
  }

  p.footer__copy {
    font-size: 14px !important;
    color: #000;
  }

  .portfolio__bkg-mobile {
    padding: 4rem 7rem 14rem;
  }

  .portfolio__content-mobile {
    padding: 0.75rem 1.5rem 2.5rem;
  }
}
@media (min-width: 830px) {
  .portfolio__bkg {
    padding: 0rem 3rem 6rem;
  }

  .portfolio__bkg-mobile {
    padding: 0rem 8rem 8rem;
  }
}
@media (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .header,
.main,
.footer__container {
    padding: 0;
  }

  h2.section__title {
    font-size: var(--h2-font-size);
  }

  .home__container {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .home__info-text {
    background-color: transparent;
    padding: 5rem 2.2rem 5rem 0rem;
  }

  .contact__form {
    width: 460px;
  }

  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .portfolio__img-container {
    width: 50%;
  }

  .portfolio__img-container.etroit {
    width: 30%;
  }

  .portfolio__modal-content {
    width: 500px;
    height: 700px;
  }

  .portfolio__img-container.large {
    width: 48%;
  }

  .apropos__img--profil {
    max-height: 256px;
  }

  .apropos__data {
    min-height: 256px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .apropos__container {
    column-gap: 2.5rem;
  }

  .portfolio__bkg {
    padding: 4rem 4rem 15rem;
  }

  .portfolio__bkg-mobile {
    padding: 3rem 10rem 14rem;
  }

  .desktop {
    display: block;
    border: 1px solid green;
  }

  p.footer__copy {
    font-size: 14px !important;
    color: #000;
  }
}

/*# sourceMappingURL=style.css.map */
