//extra-small smartphones (landscape view)
$screen-xs-min: 320px;

//smartphones et Iphone X (landscape view)
$screen-s-max: 375px;


//meddium smartphones IPhone 6 / 7 / 8 plus (landscape view)
$screen-ss-min: 414px;



//small tablets and large smartphones (landscape view)
$screen-sm-min: 568px;

//medium tablets (portrait view)
$screen-smm-min: 695px;



//medium small tablets and large smartphones (landscape view)
$screen-ms-max: 767px;

//small tablets and large smartphones (landscape view)
$screen-md-min: 768px;



//small tablets and large smartphones (landscape view)
$screen-ml-min: 830px;



// Tablets and small desktops
$screen-lg-min: 968px;

// extra Large tablets and desktops
$screen-xl-min: 1024px;

// extra extra Large desktops
// $screen-xxl-min: 1440px;
