
body{
    @include md{
        overflow-x: hidden;
    }
}

nav{
    display:flex;
    flex-grow: 3;
    justify-content: flex-end;
    align-items: center;
    min-height: 7vh;
    padding-right: 1rem;

    position: fixed; 
    top: -80px; 
    width: 100%; 
    z-index: 1;

    width: 100%;    
    background-color:#fff;
    text-align: center;
    border-bottom: 1px solid black;

    transition : top 0.6s ease-in-out 0.2s;

    

    


    .titre{
    width:90%;
    font-size: 1.5rem; 
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;

        p{
            padding-left: 3rem;

            @include s{
                padding-left: 3rem;
              }
          
              @include sm{
                padding-left: 3rem;
              }
          
              @include md{
                padding-left: 3rem;
              }
          
              @include lg{
                padding-left: 3rem;
              }
          
              @include xl{
                padding-left: 0rem;
              }


        }
    }// fin .titre

}// fin .nav



nav.scroll{
    top: 0;
}




.nav-links{
    border:1px solid #000;
    position: absolute;
    right:1.2rem;
    height:88.7vh;
    top:8vh;
    background-color:#fff;
    opacity:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    padding-top: 8vh;

    //320px extra small devices 
    @include xs{
        width: 55%;
        padding-top: 5vh;
     }

     //375px small devices
     @include s{
        width: 50%;
        padding-top: 12vh;
     }

     //414px small-medium devices
     @include sm{
        width: 55%;
        padding-top: 11vh;
     }

     //768px Medium devices
    @include md{
        width: 30%;
        padding-top: 7vh;
     }

     //1024px Extra large devices
     @include xl{
        width: 25%;
        padding-top: 5vh;
     }


        a{
            text-decoration: none;
            letter-spacing: 3px;
            color:#000;

            @include xs{
                font-size: 0.8rem;
             }

             @include sm{
                font-size: 1rem;
             }

            @include md{
                font-size: 0.8rem;
             }


             @include xl{
                font-size: 1rem;
             }
        } 

    
        li{
            list-style: none;
            opacity:0;
            text-align: center;
            margin: 1rem 2rem;
            @include xs{
                margin: 0.8rem 2rem;
             }

            @include md{
                margin: 1rem 2rem;
             }
        }

}// fin .nav-links




.nav-active{
    transform: translateX(0%);
}




.burger{
    display: block;
    cursor: pointer;
    margin: 1.1rem 0.2rem;

    .line{
        width: 25px;
        height:2px;
        background-color:#000;
        margin:5px 
    }
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity:1;
        transform: translateX(0px);
    }
}   